<!--

<app-second></app-second>
<app-show-case-ng-content-container>
  <div class="heading">Hello</div>
  <ng-container class="body">jj</ng-container>
</app-show-case-ng-content-container>
<app-show-case-ng-for></app-show-case-ng-for><app-show-case-ng-switch></app-show-case-ng-switch>
<app-like-deslike [isfavorite]="favState" (changed)="hello()"></app-like-deslike>
<app-form-validation></app-form-validation>
<app-form-validation></app-form-validation>
-->
<app-navbar></app-navbar>
<router-outlet></router-outlet>
